# Project exclude paths
/control/target/
/engine/target/
/frontend/target/

# Eclipse project metadata and compiled output
.project
.classpath
.settings/
/control/bin/
/engine/bin/
/frontend/bin/

# Log files
*.log
logs/

# JavaFX, FXGL and JVM temporary or system files
system/
*.tmp
*.temp
hs_err_pid*
replay_pid*
.attach_pid*
